body {
    margin-top: 10.5em;
    background-image: url("https://github.com/LeonStevens122/HCSA-Front-End/blob/main/src/styles/images/HCSA-Background-logo-3.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position: center top;
    background-attachment: fixed;   
    height: 0;
    padding-bottom: 75%;
    object-fit: cover;
    -webkit-text-size-adjust: 100%;
   
  }
  .about__container {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1em;
    padding: 1em;
  }
  .contact__container {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 1em;
    padding: 1em;
  }
  .jobSpec__container {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    margin: 1em;
    padding: 1em;

  }